<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Simple List</title>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.0.0-7/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.ionicframework.com/1.3.3/css/ionic.min.css">
    <script src="http://code.ionicframework.com/1.3.3/js/ionic.bundle.min.js"></script>
    <style>
      body {
        cursor: url('https://ionicframework.com/img/finger.png'), auto;
      }
    </style>
  </head>

  <body ng-controller="MyCtrl">

    <ion-header-bar class="bar-positive">
      <h1 class="title">Canadian Music</h1>
    </ion-header-bar>

    <ion-content>

      <cs-ion-fixed-content>
        <div class="item item-divider">
          I am fixed.
        </div>
        <div class="item item-divider">
          I am fixed as well.
        </div>
      </cs-ion-fixed-content>

      <div class="list">

        <a ng-repeat="item in items" 
           href="#/{{item.id}}"
           class="item item-thumbnail-left">

          <img ng-src="{{ item.image }}">
          <h2>{{ item.album }}</h2>
          <h4>{{ item.artist }}</h4>
        </a>

        <a ng-repeat="item in items" 
           href="#/{{item.id}}"
           class="item item-thumbnail-left">

          <img ng-src="{{ item.image }}">
          <h2>{{ item.album }}</h2>
          <h4>{{ item.artist }}</h4>
        </a>

        <a ng-repeat="item in items" 
           href="#/{{item.id}}"
           class="item item-thumbnail-left">

          <img ng-src="{{ item.image }}">
          <h2>{{ item.album }}</h2>
          <h4>{{ item.artist }}</h4>
        </a>

      </div>

    </ion-content>
    <script src="app.js"></script>
  </body>
</html>